@font-face {
  font-family: 'Open Sans Regular';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Infant Regular';
  src: url('/fonts/CormorantInfant-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Infant Medium';
  src: url('/fonts/CormorantInfant-Medium.ttf') format('truetype');
}


@font-face {
  font-family: 'Cormorant Infant SemiBold';
  src: url('/fonts/CormorantInfant-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Infant Bold';
  src: url('/fonts/CormorantInfant-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'Roboto Regular';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inglobal Regular';
  src: url('/fonts/Inglobal-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Calibri Regular';
  src: url('/fonts/Calibri-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Calibri Bold';
  src: url('/fonts/Calibri-Bold.ttf') format("truetype");
}
