@mixin iconBefore($url, $width, $height, $r_margin) {
  content: '';
  display: flex;
  width: $width;
  height: $height;
  background: url($url) no-repeat;
  background-size: 100% 100%;
  margin-right: $r_margin;
}

@mixin respondTo($media) {
  @if $media == mobile {
    @media all and (max-width: $max-width-mobile) {
      @content;
    }
  } @else if $media == narrow-mobile {
    @media all and (max-width: $max-width-narrow-mobile - 1) {
      @content;
    }
  } @else if $media == one-column {
    @media all and (max-width: $min-width-2-columns - 1) {
      @content;
    }
  } @else if $media == smaller {
    @media all and (max-width: $min-normal-width - 1) {
      @content;
    }
  } @else if $media == wide {
    @media all and (min-width: $max-normal-width + 1) {
      @content;
    }
  } @else {
    @media all and (max-width: $media) {
      @content;
    }
  }

}


@mixin content-style {
  text-align: justify;
  line-height: $text-line-height;

  p {
    text-indent: $paragraph-text-indent;
  }

  a {
    text-decoration: underline;
  }
}


@mixin waiting($border-radius) {
  pointer-events: none;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(103, 105, 100, 0.3) url('/images/site_icons/loading.svg') no-repeat center center;
    background-size: 3em 3em;
    border-radius: $border-radius;

  }

  $this: &;
  &_success {
    @extend #{$this};

    &:after {
      @extend #{$this}:after;
      background-image: url('/images/site_icons/success.svg');
    }
  }

  &_fail {
    @extend #{$this};

    &:after {
      @extend #{$this}:after;
      background-image: url('/images/site_icons/fail.svg');
    }
  }
}

@mixin headers {

  h2, h3, h4 {
    color: $smooth-black-color;
    font-family: 'Roboto Medium', sans-serif;
    text-indent: 1rem;
  }


  h2 {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: .7em;
  }

  h3 {
    font-size: 1.15em;
    margin-bottom: 0.4em;
    margin-top: 0.8em;
  }

  h4 {
    font-size: 1em;
  }


  section:first-child {
    h2, h3, h4 {
      margin-top: 0;
    }

    h2 {
      margin-top: -.2em;
    }
  }
}