// Colors
$body-bg: rgba(255, 255, 255, 0);
$smooth-black-color: #252525;
$orange-color: #f58501;
$green-base-color: #2f5e08;
$green-footer-color: #285537;
$green-lighten-link-color: #397f1b;
$light-blue-color: #dff7f2;
$grey-color: #f3f8f7;
$yellow-color: #f7f09d;
$window-color: #65b13d;
$window-header-color: #438322;
$window-background-color: rgba(195, 214, 213, 0.7);



// Text
$base-font-size: 15px;
$paragraph-text-indent: 2.75em;
$text-line-height: (22em/15);

//Adaptation
$normal-width: 100%;
$min-normal-width: 960px;
$default-width: 1253px;
$max-normal-width: 1280px;
$min-width-2-columns: 800px;
$max-width-mobile: 640px;
$max-width-narrow-mobile: 480px;
